<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-segment>
      <ion-navbar>
        <ion-searchbar autocomplete="on" animated="true" autocorrect="on" placeholder="Pesquisar..." (ionInput)="getItems($event)">
        </ion-searchbar>
        <ion-buttons end>
          <button ion-button icon-only (click)="aboutClick($event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list padding>
    <div *ngIf="listDisciplinas.length">
      <button ion-item *ngFor="let disciplina of listDisciplinas" (click)="itemTapped($event, disciplina)" class="item-md">
        {{disciplina.titulo}} 
        <ion-avatar item-start>
          <img src="{{selectedItem.url}}">
        </ion-avatar>
        <ion-icon md="md-arrow-forward" item-end></ion-icon>
      </button>
    </div>
  </ion-list>
  
  <div text-center *ngIf="!listDisciplinas.length">
    <h5 ion-text color="light">Nenhuma disciplina encontrada!</h5>   
  </div>
</ion-content>