<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-segment>
      <ion-navbar>
        <ion-searchbar style="width: 95%" autocomplete="on" animated="true" autocorrect="on" placeholder="Pesquisar..." (ionInput)="getItems($event)">
        </ion-searchbar>
        <ion-buttons end>
          <button ion-button icon-only (click)="aboutClick($event)">
            <ion-icon name="people"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <div *ngIf="selectedItem" padding>
      <b>{{pathPrevious}}</b>
    </div> -->
  <div *ngIf="listTemas.length">
    <ion-list padding>
      <button ion-item *ngFor="let tema of listTemas" (click)="itemTapped($event, tema)" class="item-md">
        {{tema.titulo}}
        <ion-icon md="md-arrow-forward" item-end></ion-icon>
      </button>
    </ion-list>
  </div>

  <div text-center *ngIf="!listTemas.length">
    <h5 ion-text color="light">Nenhum tema encontrado!</h5>
  </div>

</ion-content>