<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-segment>
      <ion-navbar>
        <ion-searchbar autocomplete="on" animated="true" autocorrect="on" placeholder="Pesquisar..." (ionInput)="getItems($event)">
        </ion-searchbar>
        <ion-buttons end>
          <button ion-button icon-only (click)="aboutClick($event)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-buttons>
      </ion-navbar>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="selectedItem" padding>
    <h5 ion-text color="light">{{pathPrevious}}</h5>
  </div>
  <div text-center *ngIf="listTermos.length" style="margin-top: -9%">
    <ion-list padding>
      <ion-card>
        <ion-card-content *ngFor="let termo of listTermos">
          <ion-card-title>
            <strong>{{termo.titulo}}</strong>
          </ion-card-title>
          <p align="justify">
            {{termo.texto}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div text-center *ngIf="!listTermos.length">
    <h5 ion-text color="light">Nenhum termo encontrado!</h5>
  </div>

</ion-content>