<ion-header no-border>
    <ion-toolbar color="dark">
      <ion-segment>
        <ion-navbar>
          <ion-searchbar autocomplete="on" animated="true" autocorrect="on" placeholder="Pesquisar..." (ionInput)="getItems($event)">
          </ion-searchbar>
          <ion-buttons end>
            <button ion-button icon-only>
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-buttons>
        </ion-navbar>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
    <!-- <div *ngIf="selectedItem" padding>
      <b>{{pathPrevious}}</b>
    </div> -->
    <ion-list padding>
      <ion-card>
        <ion-card-content *ngFor="let subtermo of listSubTermos">
          <ion-card-title >
              {{subtermo.titulo}}
          </ion-card-title>
          <p>
            {{subtermo.descricao}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-content>