<ion-header no-border>
  <ion-toolbar color="dark">
    <img src="/assets/imgs/icon.png" width="40px" height="40px" icon-only/>
    <ion-searchbar autocomplete="on" animated="true" autocorrect="on" placeholder="Profissões" (ionInput)="getItems($event)"> -->
    </ion-searchbar> 
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="selectedItem" padding>Profissões>
    <b>{{selectedItem}}</b>
  </div>
  <ion-list padding>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)" class="item-md">
      {{item}}
      <ion-avatar item-start>
        <img src="/assets/imgs/icon.png">
      </ion-avatar>
      <ion-icon md="md-arrow-forward" item-end></ion-icon>
    </button>
  </ion-list>

</ion-content>